html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
}
#pics1{
    border: 1px solid white;
    height: 100vh;
    background-image: url(pics/img_parallax.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#pics1a{
    margin-top: -100vh;
    border: 1px solid white;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    mix-blend-mode: screen;
    background-color: rgb(131, 138, 143);
}
#box{
    height: 8vh;
    width: 40vh;
    background-color: black;
    margin: 50vh auto;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
}
#word{
    padding: 60px;
    background-color: white;
    color: black;
}
#pics2{
    border: 1px solid white;
    height: 50vh;
    background-image: url(pics/img_parallax2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#pics2a{
    margin-top: -50vh;
    border: 1px solid white;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    mix-blend-mode: screen;
    background-color: rgb(131, 138, 143);
}
#box2{
    height: 8vh;
    width: 40vh;
    margin: 20vh auto;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
}
#word2{
    padding: 60px;
    background-color: black; 
    color: white;
}
#pics3{
    border: 1px solid white;
    height: 50vh;
    background-image: url(pics/img_parallax3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#pics3a{
    margin-top: -50vh;
    border: 1px solid white;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    mix-blend-mode: screen;
    background-color: rgb(131, 138, 143);
}
/* #box3{
    height: 8vh;
    width: 40vh;
    margin: 20vh auto;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
} */
#word3{
    padding: 60px;
    background-color: black;
    color: white;
}
#pics4{
    border: 1px solid white;
    height: 100vh;
    background-image: url(pics/img_parallax.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#pics4a{
    margin-top: -100vh;
    border: 1px solid white;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    mix-blend-mode: screen;
    background-color: rgb(131, 138, 143);
}
#box4{
    height: 8vh;
    width: 20vh;
    background-color: black;
    margin: 50vh auto;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
}
